<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jdj</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--
********************************************************************
* Responsive Transparent Navbar
********************************************************************
-->
<div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain"><span class="glyphicon glyphicon-chevron-right" style="color:white;"></span></button>
      <%= link_to 'Janet D. Jamieson', root_path, :class => "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li> 
        <li><%= link_to 'Gallery', gallery_path %></li> 
        <li><%= link_to 'Services and Pricing', services_path %></li>
      </ul>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
